# Build output
bin/
obj/
artifacts/

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo

# Game files - never commit these, they are copyrighted
*.dll
!data/**/*.dll
GameAssembly*
global-metadata.dat
cpp2il_out/
BepInEx/
DummyDll/
dump.cs
editor/

# Logs
*.log
